<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <div th:switch="${employees}" class="mt-1">
            <h4 class="mb-1 text-center">Employees</h4>
            <table class="table table-striped table-sm text-sm">
                <thead class="thead-dark">
                <tr>
                    <th class="col-md-3 text-center text-nowrap">First name</th>
                    <th class="col-md-3 text-center text-nowrap" >Last name</th>
                    <th class="col-md-1 text-center text-nowrap" >Dundie Awards</th>
                    <th class="col-md-1 text-center text-nowrap" >Organization id</th>
                    <th class="col-md-3 text-center text-nowrap">Organization name</th>
                </tr>
                </thead>
                <tbody th:case="null">
            	<tr><td class="text-center" colspan=5>No Messages</td></tr>
	            </tbody>
	            <tbody th:case="*">
                <tr th:each="employee : ${employees}">
                    <td class="col-md-3 text-right" th:text="${employee.firstName}"></td>
                    <td class="col-md-3 text-right" th:text="${employee.lastName}"></td>
                    <td class="col-md-1 text-center" th:text="${employee.dundieAwards}"></td>
                    <td class="col-md-1 text-center" th:text="${employee.organizationId}"></td>
                    <td class="col-md-3 text-center" th:text="${employee.organizationName}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        
     	<div class="border border-dark p-2 mt-3" style="max-width: 350px; margin-left: auto;">
		    <span class="mb-1 text-left font-weight-bold">Obs:</span>
		    <div class="d-flex align-items-center mt-1">
		        <span class="pl-2 small">Organizations with 3 Millions of employees are not listed</span>
		    </div>
		</div>
</div>
</body>
</html>
