<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees and Awards</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        /* Add any additional custom styles here */
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="mt-5">
    <p>Total Dundie Awards: <span th:text="${totalDundieAwards}"></span></p>
</div>

<div th:switch="${employees}" class="mt-5">
    <p th:case="null" class="alert alert-warning">No employees</p>
    <div th:case="*">
        <h2 class="mb-3">Employees</h2>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Dundie Awards</th>
                <th>Organization id</th>
                <th>Organization name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.dundieAwards}"></td>
                <td th:text="${employee.organization.id}"></td>
                <td th:text="${employee.organization.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:switch="${activities}" class="mt-5">
    <p th:case="null" class="alert alert-warning">No activities</p>
    <div th:case="*">
        <h2 class="mb-3">Activity Log</h2>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Occurred At</th>
                <th>Event</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="activity : ${activities}">
                <th th:text="${activity.occuredAt}"></th>
                <th th:text="${activity.event}"></th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:switch="${queueMessages}" class="mt-5">
    <p th:case="null" class="alert alert-warning">No messages</p>
    <div th:case="*">
        <h2 class="mb-3">Queue Messages</h2>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Occurred At</th>
                <th>Event</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="activity : ${queueMessages}">
                <th th:text="${activity.occuredAt}"></th>
                <th th:text="${activity.event}"></th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Include Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
